/* 
order {
    width
    height
    margin
    padding
    position
    display
    overflow
    font
    color
    background
    border
    outline
    shadow
    transition
}
*/


/* Fonts */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  src:
    url("../assets/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/sourcesanspro-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: normal;
  src:
    url("../assets/fonts/sourcesanspro-italic-webfont.woff2") format("woff2"),
    url("../assets/fonts/sourcesanspro-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  src:
    url("../assets/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
    url("../assets/fonts/sourcesanspro-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  src:
    url("../assets/fonts/merriweather-bold-webfont.woff2") format("woff2"),
    url("../assets/fonts/merriweather-bold-webfont.woff") format("woff");
}


/* Constants */
:root {
  --color-main: #FFF;
  --color-nav: #222;
  --color-modal: #FFF;

  --color-text-black: #111;
  --color-text-white: #FFF;
  --color-text-disabled: #888;
  --color-text-header: #111;

  --color-section: #0000;
  --color-section-border: #CCC;

  --color-table-border: #0003;
  --color-table-border-darken: #0002; /* should look the same when on darkened row */
  --color-table-border-thick: #0002;
  --color-table-border-summation: #0003;

  --color-table-back: #FFF;
  --color-table-back-darken: #0001;
  --color-table-head0-back: #CCC;
  --color-table-head1-back: #E3E3E3;
  --color-table-head2-back: #EEE;
  --color-table-head-emphasis: #777;

  --color-chart-placeholder: #EEE;

  --color-input: #888;
  --color-input-hover: #555;
  --color-input-active: #111;
  --color-input-disabled: #BBB;
  --color-input-back-disabled: #DDD;

  --color-invalid-input:#F51D2B;
  --color-invalid-icon: #f84a56;

  --color-primary: #0071BC;
  --color-primary-hover: #205493;
  --color-primary-active: #112E51;
  --color-primary-light: #0071BC44;

  --color-neutral: #0006;
  --color-neutral-hover: #000A;
  --color-neutral-active: #000C;
  --color-neutral-light: #0003;

  --color-success: #28A745;
  --color-success-hover: #247F39;
  --color-success-active: #145222;
  --color-success-light: #28A74544;

  --color-danger: #DC3843;
  --color-danger-hover: #AD1F28;
  --color-danger-active: #691218;
  --color-danger-light: #DC384344;

  --length-primary: 8px;
  --length-secondary: 4px;
  --length-border-thick: 4px;
  --length-border-summation: 0;

  --font-family-text: "Source Sans Pro", Helvetica, Arial, sans-serif;
  --font-family-head: "Merriweather", Cambria, serif;
}


body {
  margin: 0;
}


/* Text */
div, p, input, select {
  font: 16px var(--font-family-text);
  color: var(--color-text-black);
}
h1, h2, h3, h4, h5 {
  margin: 1em 0 .5em 0;
  font-family: var(--font-family-head);
  font-weight: bold;
  color: var(--color-text-header);
}
h1 { font-size: 2.2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1rem; }
h5 { font: bold 1rem var(--font-family-text); }
p {font-size: 1rem; }
